.success {
    background-color: #187d1e;
  }
  .fail {
    background-color: #ffe7af;
  }

 
  
  .alert-modal {
    color: black;
    background-color: grey;
    font-size: 15px;
    /* opacity: 0.9; */
    border: 2px solid black;
    z-index: 1000;
    align-items: center;
    position: fixed;
    top: 60px;
    right: 30px;
    align-items: center;
  }
  .header-alert{
    height: 30px;
    width: 100%;
    text-align: center;
    padding-top: 5px; ;
  }
 
  .alert-form {
    width: calc(100% - 40px);
    height: 45px;
    background-color: white !important;
    padding: 8px 20px;
    color: #434774;
    font-weight: bold;
    background-color: #ffffff;
    font-size: 18px;
    vertical-align: middle;
  
  }