
/* Định dạng cho table */
table{
    width: 100%;
}   
    /* cột mã */
    .col-15{
        width: 12%;
    }
    /* cột tên */
    .col-21{
        width: 17%;
    }
    /* cột địa chỉ */
    .col-42{
        width: 50%;
    }
    /* cột sdt */
    .col-10{
        width: 9%;
    }
    /* cột status */
    .col-12{
        width: 12%;
    }

    table thead{
        text-align: center;
        color: #212121;
    }

    table thead th{
        border-right: 1px solid #d0d0d0 !important;
        white-space: nowrap;
        position: sticky;
        top: 0;
        background-color: #f4f4f4;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    }
    
    table thead th:last-child{
        border-right-width: 0  !important;
    }

    table tbody td{
        height: 32px;
        white-space: nowrap;
        padding: 0px 12px;
        border: 1px solid #d0d0d0;
        border-collapse: collapse;
    }
    table tbody td {
        border-left-width: 0;
        border-bottom-width: 0;
    }
    table tbody td:last-child {
        border-right-width: 0;
    }

    table tbody tr:last-child td {
        border-bottom-width: 1px;
    }

    table tr:nth-child(2n){
        background-color: #f2f2f2;
    }

    table tbody tr:hover{
        background-color: #ebfafa;
    }